<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>
        Welcome
    </title>
</head>
<body>
Current User logged in:
<p th:text="${name}"></p>


Please Enter a number:
<form action="/game" method="post">
  Guess:<input type="guess" size="8" name="guess">
  </b>
  <input name="submit" type="submit" value="Send"></b>
</form>
<p th:text="${answer}"
></p>
<p th:text ="${gameOver}"></p>
<a href="/results">Show Result</a>
<a href="/login"> Back to Login page</a>
</body>
</html>